version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: userdb
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: user_app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
